input {
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
}

/* TODO: clean this up */
#timer-display {
  border-width: 1;
  background: LightGray;
}

/* this is a work-around for 
   mobile-safari browser */

.mobile-safari-button-touch {
  cursor: pointer;
}

