

<div class="container">
  <div class="mb-4">
    <img src="https://static01.nyt.com/images/2014/09/06/arts/06HEIR/06HEIR-master1050.jpg" alt="Self Portrait by Vivian Maier" class="img-fluid"></img>
    <p>A 1954 self-portrait by Vivian Maier (featured in a <a href="https://www.nytimes.com/2014/09/06/arts/design/a-legal-battle-over-vivian-maiers-work.html">New York Times</a> article posted on September 6, 2014)</p>
  </div>
  <div class="mb-4">
    <p>I discovered this unsung photographer from the <a href="http://www.vivianmaier.com/film-finding-vivian-maier/">movie</a> "Finding Vivian Maier".</p>
    <p>As of this writing, it's still playing on <a href="https://www.netflix.com/title/70291615">Netflix</a>. She liked being called "Ms. Maier".
    </p>
    
    <p>I learned that Ms. Maier took long walks (often with the children she was looking after) around town and took pictures to capture what was going on.</p>
  </div>

  <div class="mb-4">
    <h2 class="mb-3">Highlights of her Life</h2>
    <table class="table">
      <tr>
        <th scope="row">1926</th>
        <td>Born in New York City. Her mom is French and her dad is Austrian.</td>
      </tr>
      <tr>
        <th scope="row">1935-1950</th>
        <td>She is living with her mom in France but periodically comes back to the US.</td>
      </tr>
      <tr>
        <th scope="row">1951</th>
        <td>Moves back from France to NYC. She works in a sweatshop (!!!). &#x1F610;</td>
      </tr>
      <tr>
        <th scope="row">1956</th>
        <td>Moves to Chicago. Begins working, mainly as a nanny for the next 40 years.
        </td>
      </tr>
    </table>
    
    <blockquote class="blockquote">
      <p class="mb-0">She was like a real, live Mary Poppins," and said she never talked down to kids and was determined to show them the world outside their affluent suburb.</p>
      <footer class="blockquote-footer">Lane Gensburg <cite title="Source Title">Wikipedia Page on Vivian Maier</cite></footer>
    </blockquote>
    
    
    <table class="table">
      <tr>
        <th scope="row">1959-1960</th>
        <td>Takes a trip around the world. &#x1F30D;&nbsp;&#x1F4F7; </td>
      </tr>
      <tr>
        <th scope="row">2007</th>
        <td>Fails to keep up payments on storage space she had rented on Chicago's North Side. <br>As a result, her negatives, prints, audio recordings, and 8 mm film were auctioned off.<br>Three photo collectors bought parts of her work: John Maloof, Ron Slattery
          and Randy Prow. </td>
      </tr>
      <tr>
        <th scope="row">2008</th>
        <td>Maier's photographs were first published on the Internet in July 2008 by Slattery, but the work received little response.</td>
      </tr>
      <tr>
        <th scope="row">2009</th>
        <td>Passes away at age 83.</td>
      </tr>
    </table>
  </div>

<div>
  <p>Ms. Vivian had a passion that she continually pursued, although in private. Through her camera's lens, I connected with her perception of the world. You can too.</p>

  <div class="mb-5">
    <h2 class="mb-3">If you are interested:</h2>
    <ul class="list-group">

      <li class="list-group-item">
        Vivian Maier (<a href="https://en.wikipedia.org/wiki/Vivian_Maier">Wikipedia</a>)
      </li>

      <li class="list-group-item">View online portfolios of her work&nbsp;
        <a href="http://www.vivianmaier.com/gallery/street-1/">here</a>
      </li>

      <li class="list-group-item">
        A Legal Battle over Vivian Maier's work &ndash;&nbsp;
        <a href="https://www.nytimes.com/2014/09/06/arts/design/a-legal-battle-over-vivian-maiers-work.html">New York Times</a>, Sept. 6, 2014
      </li>

    </ul>
  </div>
  
  <hr>
  <p>This page was created by Erwin Hom on Monday, July, 3, 2017.</p>
</div><!-- end-div-container -->
