
body {
  background: DeepSkyBlue;
}

.thumbnail {
  height: 100;
  width: 100;
}

#displayPanel {
  opacity: .5;
}

.cur-temp {
  font-size: xx-large;
}

.low-temp {
  font-size: small;
}

.hi-temp {
  font-size: x-large;
}

#debug-message {
  font-size: x-small;
}

#humidity {
  font-size: x-large;
}

#daylight {
  font-size: x-large;
}

#sunrise, #sunset {
  font-size: large;
}

